@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="get" action="~/Name.cshtml">
        <label for="sampletext">Put a name here</label>
        <input id="sampletext" name="name" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>