@{
    var name = "Robert Paulson";
    if (Request["name"] != null && !Request["name"].IsEmpty())
    {
        name = Request["name"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @{ 
            for (int i  = 0; i < 10; i++)
            {
                <li>His name is @name</li>
            }
        }
    </ul>
</body>
</html>