* {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #695114;
}

body {
  font-size: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF4A1), to(#F9BF2B));
  background-image: linear-gradient(#FFF4A1, #F9BF2B);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#logo-image {
  width: 10vh;
  height: 10vh;
}

#menu-button {
  width: 10vh;
  height: 10vh;
}

.menu-item {
  font-size: 24px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  padding: 0.5%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  background: #FAE148;
  width: 33%;
}

.content span {
  padding: 10%;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  background: #FFF278;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background: #F9BF2B;
  margin-top: auto;
  height: 10vh;
  width: 100%;
}

footer h4 {
  margin: 0px;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF4A1;
  margin: 0.5% 0.5% 0 0.5%;
  font-size: 32px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10vh;
  font-size: 16px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF278;
  margin-right: 0 0.5% 0 0.5%;
  padding: 0.5%;
  width: 10vh;
}

.menu-item:hover {
  background-color: #FFF278;
  color: white;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  #menu-button {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .menu-item {
    display: none;
  }
  .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-container > div:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 0.5%;
  }
  .content {
    width: 49.75%;
  }
}

@media only screen and (max-width: 599px) {
  footer {
    display: none;
  }
  .menu-item {
    display: none;
  }
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    margin-top: 0.5%;
    width: 100%;
  }
  .content-container > div:first-child {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */